name: Generate playlist

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-generate-playlist:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5  # official action
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          if [ -f requirements.txt ]; then
            pip install -r requirements.txt
          fi

      - name: Run generate_playlist.py
        run: python generate_playlist.py
